# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env

# Flask
instance/
.webassets-cache

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


# Gunicorn
*.pid

# Testing / coverage
.coverage
htmlcov/

# PyCharm
.idea/
